doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' href='static/images/favicon.png')
  title Adopte un Ma&icirc;tre
  // Bootstrap core CSS
  link(href='static/css/bootstrap.min.css' rel='stylesheet')
  link(href='static/css/animate.min.css' rel='stylesheet')
  link(href='static/css/font-awesome.min.css' rel='stylesheet')
  link(href='static/css/apropos.css' rel='stylesheet')
  link(href='static/css/index.css' rel='stylesheet')
  link(href='static/css/edit_profile.css' rel='stylesheet')
  // Javascript socket.io
  script(src='static/js/jquery.1.11.1.min.js')
  script(src='static/js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(type='text/javascript' src='static/js/jquery.validate.js')
  script(type='text/javascript' src='static/js/messages_fr.js')
  script(src='static/js/controle-formulaire.js')
  script(src='static/js/client.js')
  script(src='static/js/custom.js')
// Fixed navbar
nav.navbar.navbar-white.navbar-fixed-top
  .container
    span.navbar-brand.welcome-title
      b Adopte un Ma&icirc;tre un r&eacute;seau social 100% chat.rrr.mant
    .navbar-header
      button.navbar-toggle.collapsed.navbar-fixed-top-30(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li#apropos.actives
          a(href='/apropos') A propos
        li
          a(href='#idAbout' data-toggle='modal' data-target='#idAbout') A propos
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            | Pages 
            span.caret
          ul.dropdown-menu
            li
              a(href='profile2.html') Profile 2
            li
              a(href='profile3.html') Profile 3
            li
              a(href='profile4.html') Profile 4
            li
              a(href='sidebar_profile.html') Sidebar profile
            li
              a(href='user_detail.html') User detail
            li
              a(href='/profile_membre') Profile du membre
            li
              a(href='edit_profile.html') Edit profile
            li
              a(href='about.html') About
            li
              a(href='friends.html') Friends
            li
              a(href='friends2.html') Friends 2
            li
              a#profil(href='profile_wall.html') Profile wall
            li
              a(href='photos1.html') Photos 1
            li
              a(href='photos2.html') Photos 2
            li
              a(href='view_photo.html') View photo
            li
              a(href='messages1.html') Messages 1
            li
              a(href='messages2.html') Messages 2
            li
              a(href='group.html') Group
            li
              a(href='list_users.html') List users
            li
              a(href='file_manager.html') File manager
            li
              a(href='people_directory.html') People directory
            li
              a(href='list_posts.html') List posts
            li
              a(href='grid_posts.html') Grid posts
            li
              a(href='forms.html') Forms
            li
              a(href='buttons.html') Buttons
            li
              a(href='error404.html') Error 404
            li
              a(href='error500.html') Error 500
            li
              a(href='recover_password.html') Recover password
            li
              a(href='registration_mail.html') Registration mail
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            i.fa.fa-user
          ul.dropdown-menu
            li
              a#deconnexion.disabled(href='/') D&eacute;connexion
            li
              a(href='profile3.html') Admnistrateur
.wrapper
  // Formulaire
  #formulaire.parallax.filter-black
    .parallax-image
    div Un r&eacute;seau social 100% chat.rrr.mant
    .small-info
      .col-sm-10.col-sm-push-1.col-md-6.col-md-push-3.col-lg-6.col-lg-push-3
        .card-group.animated.flipInX
          .card
            .card-block
              .center
                h4.m-b-0
                  span.icon-text Connexion
                p.text-muted Acc&eacute;der &agrave; votre compte
              form#form-connection(action='index.html' method='post')
                .form-group
                  input#pseudo-connect.form-control(type='text' name='pseudo' required='required' maxlength='32' size='32' placeholder='Pseudo')
                .form-group
                  input#mot-de-passe.form-control(type='password' name='mp' maxlength='10' size='10' required='required' placeholder='Mot de passe')
                  a.pull-xs-right(href='#')
                    small Oubli&eacute;?
                  .clearfix
                .center
                  button.btn.btn-azure(type='submit') Se connecter
          .card
            .card-block.center
              h4.m-b-0
                span.icon-text S&apos;inscrire
              p.text-muted Devenir membre
              form#form-inscription(action='index.html' method='post' data-toggle='validate' role='form')
                .form-group
                  input#pseudo-inscription.form-control.control-groupe(type='text' name='pseudoInscrit' required='required' maxlength='32' size='32' placeholder='Pseudo')
                .form-group
                  input#mail-inscription.form-control(type='email' name='mailInscrit' required='required' maxlength='100' size='100' placeholder='Adresse mail')
                .form-group
                  input#mp-inscription.form-control(type='password' name='mpInscrit' required='required' data-minlength='6' maxlength='10' size='10' placeholder='Mot de passe')
                .form-group
                  input#mp2-inscription.form-control(type='password' name='mp2Inscrit' required='required' maxlength='10' size='10' data-match='#mp-inscription' data-match-error='Le mot de passe est différent' placeholder='Confirmer le mot de passe')
                button.btn.btn-azure(type='submit') S&apos;inscrire
  //
    A propos
    <div id="apropos" class="container page-content ">
    <div class="row page-content">
    <div class="col-md-8 col-md-offset-2">
    <div class="row">
    <div class="col-md-12">
    <div class="cover profile">
    <div class="wrapper">
    <div class="image">
    <img src="static/images/chat.jpg" class="show-in-modal" alt="people">
    </div>
    <div class="friends">
    <p> <b>"Adopte un maître"</b> est un réseau social qui permet de mettre en relation des personnes qui proposent des chats à l’adoption et celles désirant en adopter.</p>
    </div>
    </div>
    </div>
    </div>
    </div>
    <a href="/">inscrivez-vous vite!!</a>
    </div>
    </div>
    </div>
  // *************************************************************************
  // Fenêtre Modale A propos
  // *************************************************************************
  #idAbout.modal.fade(tabindex='-1' role='dialog' aria-labelledby='idModalAboutTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#idModalTitle.modal-title A propos...
          button.close(type='button' data-dismiss='modal' aria-label='Fermer' aria-hidden='true') X
        .modal-body
          h2 Adopte un ma&icirc;tre&quot;
          p
            img#image-apropos.show-in-modal(src='static/images/chat.jpg' alt='people')
          p
            | &quot;Adopte un ma&icirc;tre&quot; est un r&eacute;seau social qui permet de mettre en relation des personnes qui proposent des chats &agrave; l&rsquo;adoption et celles d&eacute;sirant en adopter.
        .modal-footer
          button.btn.btn-azure(type='button' data-dismiss='modal') Fermer
  // Profile Membre
  #profile-membre.container.page-content.edit-profile
    .row
      .col-md-10.col-md-offset-1
        // NAV TABS
        ul.nav.nav-tabs.nav-tabs-custom-colored.tabs-iconized
          li.active
            a(href='#profile-tab' data-toggle='tab' aria-expanded='true')
              i.fa.fa-user
              |  Profile
          li
            a(href='#activity-tab' data-toggle='tab' aria-expanded='false')
              i.fa.fa-rss
              |  Recent Activity
          li
            a(href='#settings-tab' data-toggle='tab' aria-expanded='false')
              i.fa.fa-gear
              |  Settings
        // END NAV TABS
        .tab-content.profile-page
          // PROFILE TAB CONTENT
          #profile-tab.tab-pane.profile.active
            .row
              .col-md-3
                .user-info-left
                  img(src='static/images/default-avatar.png' alt='Profile Picture')
                  h2#pseudo-profil XXXXX
                  .contact
                    p
                      span.file-input.btn.btn-azure.btn-file
                        | Change Avatar 
                        input(type='file' multiple='')
                    p
                      span.file-input.btn.btn-azure.btn-file
                        | Change Cover 
                        input(type='file' multiple='')
              .col-md-9
                .user-info-right
                  .basic-info
                    h3
                      i.fa.fa-square
                      |  Information
                    p.data-row
                      span.data-name Pseudo
                      span#pseudo.data-value jonasmith
                    p.data-row
                      span.data-name Birth Date
                      span.data-value Nov 20, 1988
                    p.data-row
                      span.data-name Gender
                      span.data-value Male
                    p.data-row
                      span.data-name Website
                      span.data-value
                        a(href='#') www.jonasmith.com
                    p.data-row
                      span.data-name Last Login
                      span.data-value 2 hours ago
                    p.data-row
                      span.data-name Date Joined
                      span.data-value Feb 22, 2012
                  .contact_info
                    h3
                      i.fa.fa-square
                      |  Contact Information
                    p.data-row
                      span.data-name Email
                      span.data-value me@jonasmith.com
                    p.data-row
                      span.data-name Phone
                      span.data-value (1800) 221 - 876543
                    p.data-row
                      span.data-name Address
                      span.data-value
                        | Riverside City 66, 80123 Denver
                        br
                        | Colorado
                  .about
                    h3
                      i.fa.fa-square
                      |  About Me
                    p
                      | Dramatically facilitate proactive solutions whereas professional intellectual capital. Holisticly utilize competitive e-markets through intermandated meta-services. Objectively.
                    p
                      | Monotonectally foster future-proof infomediaries before principle-centered interfaces. Assertively recaptiualize cutting-edge web services rather than emerging &quot;outside the box&quot; thinking. Phosfluorescently cultivate resource maximizing technologies and user-centric convergence. Completely underwhelm cross functional innovation vis-a-vis.
          // END PROFILE TAB CONTENT
          // ACTIVITY TAB CONTENT
          #activity-tab.tab-pane.activity
            ul.list-unstyled.activity-list
              li
                i.fa.fa-times.activity-icon.pull-left
                p
                  a(href='#') Jonathan
                  |  commented on 
                  a(href='#') Special Deal 2013
                  span.timestamp 12 minutes ago
              li
                i.fa.fa-times.activity-icon.pull-left
                p
                  a(href='#') Jonathan
                  |  posted 
                  a(href='#') a new blog post
                  span.timestamp 4 hours ago
              li
                i.fa.fa-times.activity-icon.pull-left
                p
                  a(href='#') Jonathan
                  |  edited his profile 
                  span.timestamp 11 hours ago
              li
                i.fa.fa-times.activity-icon.pull-left
                p
                  a(href='#') Jonathan
                  |  has added review on 
                  a(href='#') jQuery Complete Guide
                  |  book 
                  span.timestamp Yesterday
              li
                i.fa.fa-times.activity-icon.pull-left
                p
                  a(href='#') Jonathan
                  |  liked 
                  a(href='#') a post
                  span.timestamp December 12
              li
                i.fa.fa-times.activity-icon.pull-left
                p
                  a(href='#') Jonathan
                  |  has completed one task 
                  span.timestamp December 11
              li
                i.fa.fa-times.activity-icon.pull-left
                p
                  a(href='#') Jonathan
                  |  uploaded 
                  a(href='#') new photos
                  span.timestamp December 5
              li
                i.fa.fa-times.activity-icon.pull-left
                p
                  a(href='#') Jonathan
                  |  has updated his credit card info 
                  span.timestamp September 28
            p.text-center.more
              a.btn.btn-custom-primary(href='#')
                | View more 
                i.fa.fa-long-arrow-right
          // END ACTIVITY TAB CONTENT
          // SETTINGS TAB CONTENT
          #settings-tab.tab-pane.settings
            form.form-horizontal(role='form')
              fieldset
                h3
                  i.fa.fa-square
                  |  Change Password
                .form-group
                  label.col-sm-3.control-label(for='old-password') Old Password
                  .col-sm-4
                    input#old-password.form-control(type='password' name='old-password')
                hr
                .form-group
                  label.col-sm-3.control-label(for='password') New Password
                  .col-sm-4
                    input#password.form-control(type='password' name='password')
                .form-group
                  label.col-sm-3.control-label(for='password2') Repeat Password
                  .col-sm-4
                    input#password2.form-control(type='password' name='password2')
              fieldset
                h3
                  i.fa.fa-square
                  |  Privacy
                .checkbox
                  label
                    input.colored-blue(type='checkbox' checked='checked')
                    span.text Show my display name
                .checkbox
                  label
                    input.colored-blue(type='checkbox' checked='checked')
                    span.text Show my birth date
                .checkbox
                  label
                    input.colored-blue(type='checkbox' checked='checked')
                    span.text Show my email
                .checkbox
                  label
                    input.colored-blue(type='checkbox' checked='checked')
                    span.text Show my online status on chat
              h3
                i.fa.fa-square  
                | Notifications
              fieldset
                .checkbox
                  label
                    input.colored-blue(type='checkbox' checked='checked')
                    span.text Receive message from administrator
                .checkbox
                  label
                    input.colored-blue(type='checkbox' checked='checked')
                    span.text New product has been added
                .checkbox
                  label
                    input.colored-blue(type='checkbox' checked='checked')
                    span.text Product review has been approved
                .checkbox
                  label
                    input.colored-blue(type='checkbox' checked='checked')
                    span.text Others liked your post
            p.text-center
              a.btn.btn-custom-primary(href='#')
                i.fa.fa-floppy-o
                |  Save Changes
          // END SETTINGS TAB CONTENT
  footer.footer
    .container
      p.text-muted
        | 200 messages &eacute;chang&eacute;s
        span.btn.btn-default.btn-circle.btn-xs
          i.glyphicon.glyphicon-ok
        | 12 connect&eacute;s
