doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' href='img/favicon.png')
  title Adopte un ma&icirc;tre
  // Bootstrap core CSS
  link(href='static/css/bootstrap.min.css' rel='stylesheet')
  link(href='static/css/font-awesome.min.css' rel='stylesheet')
  link(href='static/css/animate.min.css' rel='stylesheet')
  link(href='static/css/apropos.css' rel='stylesheet')
  // Javascript socket.io
  script(src='static/js/jquery.1.11.1.min.js')
  script(src='static/js/bootstrap.min.js')
// Fixed navbar
nav.navbar.navbar-white.navbar-fixed-top
  .container
    a.navbar-brand(href='/')
      b Adopte un Ma&icirc;tre un r&eacute;seau social 100% chat.rrr.mant
    .navbar-header
      button.navbar-toggle.collapsed.navbar-fixed-top-30(type='button' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li.actives
          a(href='/') Accueil
        li.dropdown
          a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false')
            i.fa.fa-user
          ul.dropdown-menu
            li
              a(href='/') Connection
            li
              a(href='profile2.html') D&eacute;connection
            li
              a(href='profile3.html') Admnistrateur
// Begin page content
.container.page-content
  .row.page-content
    .col-md-8.col-md-offset-2
      .row
        .col-md-12
          .cover.profile
            .wrapper
              .image
                img.show-in-modal(src='static/images/chat01.jpg' alt='people')
              .friends
                p
                  | Adopte un ma&icirc;tre est un r&eacute;seau social qui permet de mettre en relation des personnes qui proposent des chats &agrave; l&rsquo;adoption et celles d&eacute;sireuseuses d&apos;en adopter.
footer.footer
  .container
    p.text-muted
      | 200 messages &eacute;chang&eacute;s
      span.btn.btn-default.btn-circle.btn-xs
        i.glyphicon.glyphicon-ok
      | 12 connect&eacute;s
