.wrapper {
    -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    background-color: white;
}



.parallax {
  width: 100%;
  height: 730px;
  overflow: hidden;
  display: block;
}

.parallax .small-info {
  top: 20%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.parallax .small-info h3 {
  max-width: 790px;
  margin: 0 auto;
  line-height: 1.4;
}

.parallax .parallax-image {
    background: url(../../img/chat6.jpg);
    height: 100%;
}

.parallax .parallax-image img {
  width: 100%;
  position: relative;
}

.filter-black {
    position: relative;
}

.filter-black:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.46);
    content: "";
}

.card {
    position: relative;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
}

.card, .list-group {
    margin-bottom: 1.25rem;
}

.card {
    box-shadow: 0 2px 3px rgba(0,0,0,.05);
}

@media (min-width: 544px) {
    .card-group .card {
        display: table-cell;
        vertical-align: top;
    }
    .card-group .card+.card {
        margin-left: 0;
        border-left: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

@media all and (max-width: 544px) { 
    .parallax {
        height: 750px !important;
    }
}

.card-group {
    margin-bottom: 1.25rem;
}

.card>.card-block>:last-child, .card>:last-child {
    margin-bottom: 0!important;
}

.card-block {
    padding: 1.25rem;
}

.center {
    text-align: center;
}
.m-a-2 {
    margin: 1.5rem!important;
}
.cover {
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
  }
  .panel > .cover {
    margin-bottom: 0;
  }
  .cover.profile {
    position: relative;
    background: #ffffff;
    border: 1px solid #e2e9e6;
  }
  .cover.profile .wrapper {
    position: relative;
    overflow: hidden;
    max-height: 250px;
    border-bottom: 1px solid #e2e9e6;
  }
.cover.profile .wrapper .friends {
    list-style: none;
    display: inline-block;
    position: absolute;
    background: #fff;
    top: 0;
    right: -10px;
    width: 249px;
    height: 250px;
    z-index: 2;
    margin-bottom: 0;
    padding: 21px;
    text-align: justify;
    font-size: 18px;
}


  .cover.profile .wrapper .friends li {
    float: left;
    margin: 0;
    width: 33.33%;
  }
  .cover.profile .wrapper .friends li a {
    display: block;
    padding-left: 1px;
    padding-top: 1px;
  }
  .cover.profile .wrapper .friends li a img {
    width: 100%;
  }
  .cover.profile .wrapper .friends li a.group {
    font-size: 40px;
    color: #efefef;
    text-align: center;
  }
  .cover.profile .wrapper .friends li a.group i {
    position: relative;
    top: 12px;
  }
  .cover.profile .wrapper .image {
    width: 100%;
    padding-right: 250px;
    overflow-y: hidden;
    position: relative;
  }
  .cover.profile .wrapper .image:after {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    z-index: 2;
    pointer-events: none;
    /* "all" disables mouse access to image */
    /* Mozilla Setting */
    background-image: linear-gradient(transparent, black);
    opacity: .7;
  }
  .cover.profile .wrapper .image img {
    width: 100%;
  }
  .cover.profile .cover-info {
    position: relative;
    height: 57px;
  }
  .cover.profile .cover-info .cover-nav {
    position: absolute;
    bottom: 0;
    left: 140px;
    list-style: none;
    float: left;
    margin: 0;
    padding-left: 0;
  }
  .cover.profile .cover-info .cover-nav li {
    float: left;
    display: block;
  }
  .cover.profile .cover-info .cover-nav > li > a {
    line-height: 20px;
    padding: 18px 15px;
    color: #bebebe;
    font-size: 14px;
    font-weight: 500;
    display: block;
  }
  .cover.profile .cover-info .cover-nav > li > a i {
    font-size: 20px;
    vertical-align: middle;
    color: #e4e4e4;
  }
  .cover.profile .cover-info .cover-nav > li > a:hover {
    background: none;
    color: #6c6c6c;
    text-decoration: none;
  }
  .cover.profile .cover-info .cover-nav > li > a:hover i {
    color: #6c6c6c;
  }
  .cover.profile .cover-info .cover-nav > li.active > a {
    background: none;
    color: #6c6c6c;
  }
  .cover.profile .cover-info .cover-nav > li.active > a i {
    color: #6c6c6c;
  }
  .cover.profile .cover-info .cover-nav li {
    border-right: 1px solid #e2e9e6;
    border-left: 1px solid transparent;
  }
  .cover.profile .cover-info .name {
    position: absolute;
    left: 155px;
    bottom: 0px;
    margin-bottom: 65px;
    display: block;
    z-index: 3;
  }
  .cover.profile .cover-info .name a {
    color: #fff;
    font-size: 30px;
    font-weight: 500;
  }
  .cover.profile .cover-info .avatar {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    margin-bottom: 5px;
    left: 30px;
    z-index: 4;
  }
  .cover.profile .cover-info .avatar img {
    width: 110px;
    height: 110px;
    border: 3px solid #fff;
  }
  @media (max-width: 992px) {
    .cover.profile .wrapper .image {
      padding-right: 120px;
      height: auto;
      position: relative;
    }
    .cover.profile .wrapper .friends {
      position: absolute;
      right: 0;
      width: 170px;
      height: auto;
      text-align: -webkit-center;
      font-size: 15px;
    }
    .cover.profile .wrapper .friends > li {
      width: 50%;
    }
    .cover.profile .wrapper .friends > li > a.group {
      font-size: 30px;
    }
    .cover.profile .wrapper .friends > li > a.group i {
      top: 10px;
    }
    .cover.profile .wrapper .name a {
      color: #212121;
    }
    .cover.profile .wrapper .nav {
      left: 0;
      padding-left: 140px;
      width: 100%;
      border-top: 1px solid #e2e9e6;
    }
    .cover.profile .cover-info {
      height: 37px;
    }
    .cover.profile .cover-info .name {
      left: 100px;
      margin-bottom: 40px;
    }
    .cover.profile .cover-info .name a {
      font-size: 24px;
    }
    .cover.profile .cover-info .cover-nav {
      left: 85px;
    }
    .cover.profile .cover-info .cover-nav > li > a {
      padding: 8px 10px;
    }
    .cover.profile .cover-info .avatar {
      left: 10px;
      margin-bottom: 3px;
    }
    .cover.profile .cover-info .avatar img {
      width: 70px;
      height: 70px;
    }
  }
  @media (max-width: 768px) {
    .cover.profile .cover-info {
      background: #fff;
      clear: both;
      height: auto;
    }
    .cover.profile .wrapper .friends {
        position: absolute;
        right: 0;
        width: 150px;
        height: auto;
        text-align: -webkit-center;
        font-size: 12px;
      }
    .cover.profile .cover-info .avatar {
      position: relative;
      left: 10px;
      display: inline-block;
      margin-top: 5px;
      margin-bottom: 6px;
    }
    .cover.profile .cover-info .avatar img {
      width: 45px;
      height: 45px;
    }
    .cover.profile .cover-info .name {
      display: inline-block;
      position: relative;
      margin-bottom: 0;
      left: 10px;
      top: 3px;
    }
    .cover.profile .cover-info .name a {
      color: #212121;
      font-size: 18px;
    }
    .cover.profile .cover-info .cover-nav {
      position: relative;
      margin: 0;
      bottom: 0;
      left: auto;
      float: none;
      padding-left: 0;
      border-top: 1px solid #e2e9e6;
    }
    .cover.profile .cover-info .cover-nav li {
      float: none;
      border-right: 0 !important;
      border-bottom: 1px solid #e2e9e6;
    }
  }

.btn.btn-circle {
    -webkit-border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 50%;
    -moz-background-clip: padding;
    border-radius: 50%;
    background-clip: padding-box;
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 11px 12px
}

.btn.btn-circle>.fa,
.btn.btn-circle .typcn,
.btn.btn-circle .glyphicon,
.btn.btn-circle>[class*="wi-"] {
    font-size: 20px;
    margin: 0 auto;
    line-height: 34px
}

.btn.btn-circle.btn-xs {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0
}

.btn.btn-circle.btn-xs>.fa,
.btn.btn-circle.btn-xs .typcn,
.btn.btn-circle.btn-xs .glyphicon,
.btn.btn-circle.btn-xs>[class*="wi-"] {
    font-size: 12px;
    line-height: 14px
}

.btn.btn-circle.btn-sm {
    width: 50px;
    height: 50px;
    padding: 10px 15px
}

.btn.btn-circle.btn-sm>.fa,
.btn.btn-circle.btn-sm .typcn,
.btn.btn-circle.btn-sm .glyphicon,
.btn.btn-circle.btn-sm>[class*="wi-"] {
    font-size: 18px;
    line-height: 26px;
    border-radius: 50%
}

.btn.btn-circle.btn-lg {
    width: 70px;
    height: 70px;
    padding: 10px
}

.btn.btn-circle.btn-lg>.fa,
.btn.btn-circle.btn-lg .typcn,
.btn.btn-circle.btn-lg .glyphicon,
.btn.btn-circle.btn-lg>[class*="wi-"] {
    font-size: 28px;
    line-height: 46px
}

.btn.btn-labeled {
    position: relative;
    padding-left: 0
}

.btn-xs {
    font-size: 11px;
    padding: 2px 7px
}



/*============== timeline.css =============*/

@import url(//fonts.googleapis.com/css?family=Lato:400|Inconsolata);

html {
  position: relative;
  min-height: 100%;
}

body{
  font-family: Lato,"Helvetica Neue",Arial,Verdana,Tahoma,"Lucida Sans",FreeSans,"Lucida Sans Unicode","Luxi Sans",sans-serif;
  background: #e9eaed;
  overflow-x:hidden; 
}

footer.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #fff;
}

footer .container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.navbar-white a{
    color: #858585;
}
.navbar-white {
    background-color: #fff;
    border-color: #e7e7e7;
}

.btn.visible-xs {
    display: inline-block !important;
}

.page-content{
  margin-top: 90px;
  margin-bottom: 70px;
}


/*============= top navbar =================*/
/*.navbar {
    padding-top: 15px;
    border: 0;
    font-size: 16px;
}*/

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}


.navbar-fixed-top-30 {
    top: -30px;
    margin-right: 3px;
}

.navbar-transparent .navbar-brand, [class*="navbar-ct"] .navbar-brand {
    color: #FFFFFF;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.navbar .navbar-brand {
    font-weight: 600;
    margin: 5px 0px;
    padding: 20px 15px;
    font-size: 20px;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-transparent .navbar-nav > li > a:not(.btn), 
.navbar-transparent .navbar-nav > li > a.btn-default, 
[class*="navbar-ct"] .navbar-nav > li > a:not(.btn), 
[class*="navbar-ct"] .navbar-nav > li > a.btn-default {
    color: #FFFFFF;
    border-color: #FFFFFF;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.navbar .navbar-nav > li > a {
    padding: 10px 15px;
    margin: 15px 3px;
}

.navbar-toggle {
    background-color: #eee;
}

.navbar-toggle .icon-bar {
    background: #000;
}

