/* ****************************************************************************
***** FEUILLE DE STYLE INDEX.CSS ADOPTE UN MAITRE (réseau social pour les chats)           *******************
*******************************************************************************/
*{
	margin: 0; 
	padding: 0;
} 

/* Image de fond d'écran identique sur tout le site*/ 
body{
    margin: 10; 
    padding: 10;
    background-color: #024A73;  
    font-family: "Comic Sans MS", Arial, Helvetica;
}
#page{ 
    width: 90%;
    background-color: #6a96a7;
    width: 90%;
    height:900px;
    margin: 0 auto;
    padding: 10px 0 50px;
}
h1{
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
    color: #015F65; text-decoration: none;
    background-color: #95a3f3;
}

h2{
    position: relative;
	text-align: center;
    font-size: 1.2em;    
    color: #015F65; text-decoration: none;
    background-color:  #6a96a7;
    
}
#connect{
    width: 500px;
    margin: auto;
    border: 3px solid #024A73;   
    border-radius: 5px;
    margin-top: 120px;
    position: relative;
    background-color:#95a3f3;
    margin-bottom: 100px;
}

#form-pseudo{
    margin-right: 26px;
    margin-left: 26px;
    margin-bottom: 5px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    }

